<a href="https://colab.research.google.com/github/Octavess3/HUM1600/blob/main/Input%5BData%5D1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Matthew Skyler Bohannan
# 1/24/24
#
# Quantitative data is data that
# can be used for comparison.
# (i.e number of books in stock)
# Qualitative data is data that
# is used to define non-numerical
# qualities.
# (i.e different types of sports)
#
# Casting is a command that is used
# to change data between types. This
# could be used if you needed to change
# a numeric string to a int or float.
#
# Precision is the overall amount
# of numbers in a float value.
# Scale is the amount of numbers
# behind the decimal point in a
# float value.
# (Given float = 150.89, precision = 5, scale = 2)

In [ ]:
# Problem 1
print ("Bob Smith" + "\nbobsmith@gmail.com")

Bob Smith
bobsmith@gmail.com

In [ ]:
# Problem 2
x = 100
y = 15
print (x * y)
print (type(x * y))
print (x / y)
print (type(x / y))

1500
<class 'int'>
6.666666666666667
<class 'float'>

In [ ]:
# Problem 3
x = input ("Please enter value X here: ")
y = input ("Please enter value Y here: ")
x = float(x)
y = float(y)
print (x * y)
print (type(x * y))
print (x / y)
print (type (x / y))

Please enter value X here: 2
Please enter value Y here: 2
4.0
<class 'float'>
1.0
<class 'float'>

Problem 4
1. The value of Row 2 "a or b?" is True
2. The value of Row 4 "a and (a or b)?" is false
3. The value of Row 3 "not a?" is True

In [ ]:
# Problem 5
schoolName = "University of Utah"
print (schoolName[14:15] + schoolName[8:9] + schoolName[4:5] + schoolName[6:7], end="!")

Utes!

In [ ]:
# Problem 6
shakespeareToBe = ("To be, or not to be, that is the question:" +
                   "\nWhether 'tis nobler in the mind to suffer" +
                   "\nThe slings and arrows of outrageous fortune," +
                   "\nOr to take arms against a sea of troubles" +
                   "\nAnd by opposing end them.")
print(shakespeareToBe)

print(" ")

parseVariable = (shakespeareToBe[172:173] + " " +
                 shakespeareToBe[8:9]+shakespeareToBe[4:5]+shakespeareToBe[3:4]+shakespeareToBe[4:5]+shakespeareToBe[90:91]+shakespeareToBe[27:28] + " " +
                 shakespeareToBe[12:13]+shakespeareToBe[22:23]+shakespeareToBe[1:2]+shakespeareToBe[8:9]+shakespeareToBe[10:11]+shakespeareToBe[196:197])
print (parseVariable)
#print (len(shakespeareToBe))

To be, or not to be, that is the question:
Whether 'tis nobler in the mind to suffer
The slings and arrows of outrageous fortune,
Or to take arms against a sea of troubles
And by opposing end them.

A rebels thorn.